# Dependencies
node_modules/

# Env
.env
.env.local
.env.*.local

# Build outputs
.vercel/
.next/
dist/
build/

# Logs
*.log
npm-debug.log*

# OS / editor
.DS_Store
.idea/
.vscode/

# Accidental
main
